NL Jobs Readable Automation.json
{
  "name": "NL Jobs - LLM Relocation + Cover Letter",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-5"
            }
          ]
        }
      },
      "id": "89cfc363-391c-46ee-ad00-91f05c4911ed",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -480,
        240
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/curious_coder~linkedin-jobs-scraper/run-sync-get-dataset-items",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $env.APIFY_API_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"urls\": [\n    \"https://www.linkedin.com/jobs/search/?keywords=software%20engineer%20visa%20sponsorship&location=netherlands&f_TPR=r86400\"\n  ],\n  \"maxResults\": 100\n}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "1efa5b85-f6d4-49f8-8cb6-f32a48711be6",
      "name": "Scrape LinkedIn Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -240,
        144
      ],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/borderline~indeed-scraper/run-sync-get-dataset-items",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $env.APIFY_API_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"country\": \"nl\",\n  \"enableUniqueJobs\": true,\n  \"includeSimilarJobs\": false,\n  \"maxRows\": 100,\n  \"query\": \"software engineer relocation\"\n}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "47a9774c-9ad6-44bf-ac23-c065bbdebf80",
      "name": "Scrape Indeed Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -240,
        336
      ],
      "typeVersion": 4.4
    },
    {
      "parameters": {},
      "id": "fc8ab6fd-db60-4cb1-b33f-97cee1857466",
      "name": "Combine Job Sources",
      "type": "n8n-nodes-base.merge",
      "position": [
        32,
        240
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "filePath": "scripts/normalize-jobs.js"
      },
      "id": "4b3d9ea5-512b-4fb9-ab9b-38ab47eda1c9",
      "name": "Normalize Jobs",
      "type": "n8n-nodes-base.code",
      "position": [
        224,
        240
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "filePath": "scripts/pre-filter.js"
      },
      "id": "fd128e68-8088-4da9-92ba-5a104fbb4545",
      "name": "Regex Hard Filter",
      "type": "n8n-nodes-base.code",
      "position": [
        416,
        240
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "33688ce2-b2ba-4f77-8d79-18ca068c824f",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        880,
        240
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "filePath": "scripts/build-cover-letter-request.js"
      },
      "id": "8d506d6d-bbb9-431f-8421-8a338fe23b13",
      "name": "Build LLM Request",
      "type": "n8n-nodes-base.code",
      "position": [
        1120,
        240
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LLAMA_CPP_URL }}/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer no-key-needed"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json._llmPayload) }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "f3e4a346-8fcc-4861-9e09-612324784381",
      "name": "LLM Analysis + Cover Letter",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1360,
        240
      ],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "approved-condition",
              "leftValue": "={{ (() => {\nconst raw = $json.choices?.[0]?.message?.content || '{}';\ntry {\n  const parsed = JSON.parse(raw);\n  return parsed.approve === true && parsed.role_match === 'yes';\n} catch(e) {\n  return false;\n}\n})() }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "08410897-b05c-4028-8543-a143a21af928",
      "name": "Approved Relocation?",
      "type": "n8n-nodes-base.if",
      "position": [
        1600,
        240
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "filePath": "scripts/assemble-row.js"
      },
      "id": "0a4e32a5-d656-409b-bf97-5b4a14d02811",
      "name": "Assemble Row",
      "type": "n8n-nodes-base.code",
      "position": [
        1840,
        160
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1lGi7mXQZKTbaP4ytTr0F3tcyjkFO4lxDfTMcdpb-8E4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $now.format('yyyy-MM-dd') }}",
          "mode": "expression"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "url"
          ],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "relocation_reason",
              "displayName": "relocation_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "relocation_confidence",
              "displayName": "relocation_confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "role_match",
              "displayName": "role_match",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "role_reason",
              "displayName": "role_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cover_letter",
              "displayName": "cover_letter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "id": "b8424394-be73-48f8-9b1a-5539f16d40a9",
      "name": "Append To Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        2080,
        160
      ],
      "typeVersion": 4.4,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TrXIngdk7ZtrUczP",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Scrape Indeed Jobs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Scrape LinkedIn Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape LinkedIn Jobs": {
      "main": [
        [
          {
            "node": "Combine Job Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Indeed Jobs": {
      "main": [
        [
          {
            "node": "Combine Job Sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Combine Job Sources": {
      "main": [
        [
          {
            "node": "Normalize Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Jobs": {
      "main": [
        [
          {
            "node": "Regex Hard Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Regex Hard Filter": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [],
        [
          {
            "node": "Build LLM Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build LLM Request": {
      "main": [
        [
          {
            "node": "LLM Analysis + Cover Letter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Analysis + Cover Letter": {
      "main": [
        [
          {
            "node": "Approved Relocation?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved Relocation?": {
      "main": [
        [
          {
            "node": "Assemble Row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Row": {
      "main": [
        [
          {
            "node": "Append To Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append To Google Sheet": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e9b00010-1d3d-4342-a37a-80c0ace75367",
  "meta": {
    "instanceId": "ff4fcd04e02b0883c04ba691a16e0b39ce6580e81776fe61b57c57637edaca8b"
  },
  "id": "9mBwdleb1h4VTJRg",
  "tags": []
}