NL Jobs Unified Automation.json
{
  "name": "NL Jobs - LLM Relocation + Cover Letter",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-5"
            }
          ]
        }
      },
      "id": "67109a61-8226-445d-b387-369e7cffeeb1",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -208,
        192
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/curious_coder~linkedin-jobs-scraper/run-sync-get-dataset-items",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $env.APIFY_API_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"urls\": [\n    \"https://www.linkedin.com/jobs/search/?keywords=software%20engineer%20visa%20sponsorship&location=Europe&f_TPR=r86400\"\n  ],\n  \"maxResults\": 100\n}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "e9b4eb84-5fe5-4484-881e-e76a55d12db6",
      "name": "Scrape LinkedIn Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        32,
        192
      ],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "jsCode": "const results = [];\r\n\r\nfor (const item of $input.all()) {\r\n  const j = item.json;\r\n\r\n  const url = (j.jobUrl || j.url || j.link || '').trim();\r\n  const title = (j.title || j.jobTitle || j.position || '').trim();\r\n  const company = (j.company || j.companyName || '').trim();\r\n  const location = (j.location || j.jobLocation || '').trim();\r\n  const description = (j.description || j.jobDescription || j.descriptionHtml || '').trim();\r\n\r\n  if (!url || !title || !description || description.length < 100) {\r\n    continue;\r\n  }\r\n\r\n  results.push({\r\n    json: {\r\n      url,\r\n      title,\r\n      company,\r\n      location,\r\n      description\r\n    }\r\n  });\r\n}\r\n\r\nconsole.log(`Jobs after normalization: ${results.length}`);\r\nreturn results;"
      },
      "id": "346775fe-930a-487c-8781-33b35cb21d3f",
      "name": "Normalize Jobs",
      "type": "n8n-nodes-base.code",
      "position": [
        96,
        496
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1lGi7mXQZKTbaP4ytTr0F3tcyjkFO4lxDfTMcdpb-8E4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "options": {}
      },
      "id": "3b29044c-d56f-41ae-80f6-1d6cf7de2fb2",
      "name": "Get Existing Jobs",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        272,
        -48
      ],
      "typeVersion": 4.4,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TrXIngdk7ZtrUczP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT input1.* FROM input1 LEFT JOIN input2 ON LOWER(TRIM(input1.url)) = LOWER(TRIM(input2.url)) WHERE input2.url IS NULL"
      },
      "id": "f420c723-7054-4160-8347-101602b0aa45",
      "name": "Merge New + Existing",
      "type": "n8n-nodes-base.merge",
      "position": [
        512,
        192
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "jsCode": "const normalizeUrl = (url = '') => url.toString().split('?')[0].replace(/\\/$/, '').trim().toLowerCase();\r\nconst normalizeText = (v = '') => v.toString().trim().toLowerCase();\r\n\r\nconst existing = new Set();\r\n\r\nlet sheetRows = [];\r\ntry {\r\n  sheetRows = $('Get Existing Jobs').all();\r\n} catch (e) {\r\n  sheetRows = [];\r\n}\r\n\r\nfor (const row of sheetRows) {\r\n  const r = row.json || {};\r\n  const url = r.URL || r.Url || r.url || '';\r\n\r\n  if (!url) continue;\r\n\r\n  const key = [\r\n    normalizeUrl(url),\r\n    normalizeText(r.Company || r.company || ''),\r\n    normalizeText(r.Role || r.role || '')\r\n  ].join('|');\r\n\r\n  existing.add(key);\r\n}\r\n\r\nconst output = [];\r\n\r\nfor (const item of $input.all()) {\r\n  const job = item.json || {};\r\n\r\n  if (!job.url || !job.title) continue;\r\n\r\n  const key = [\r\n    normalizeUrl(job.url),\r\n    normalizeText(job.company || ''),\r\n    normalizeText(job.title)\r\n  ].join('|');\r\n\r\n  if (existing.has(key)) {\r\n    console.log(`Duplicate skipped: ${job.title} @ ${job.company}`);\r\n    continue;\r\n  }\r\n\r\n  output.push({ json: job });\r\n}\r\n\r\nconsole.log(`New unique jobs after dedup: ${output.length}`);\r\nreturn output;"
      },
      "id": "cfc0993f-6015-4697-982c-e3dbd13722bd",
      "name": "Filter Duplicate URLs",
      "type": "n8n-nodes-base.code",
      "position": [
        752,
        192
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9399ef17-5294-4406-99a9-612ec58d1ff4",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        992,
        192
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "jsCode": "const results = [];\r\n\r\nfor (const item of $input.all()) {\r\n  const job = item.json;\r\n\r\n  const coverLetterTemplate = `Dear Hiring Team,\r\nI am writing to express my interest in the [JOB_TITLE] position at [COMPANY_NAME]. With over 7 years of full-stack engineering experience — most recently as a Senior Software Engineer (SDE3 / Associate Vice President) at JPMorgan Chase Asset & Wealth Management — I bring deep expertise in React, TypeScript, Python, AWS, and AI-native system design, and I am actively pursuing relocation to Europe.\r\n\r\nAt JPMorgan, I architected MCP server infrastructure and built Connect Studio — an AI-native multi-persona platform that bridges LLM capabilities with real-world engineering workflows at scale. Prior to this, at Aurigo Software Technologies, I led frontend architecture across multiple product lines, delivered products and platforms serving 1,000+ concurrent users, and pioneered an EAA/ADA/WCAG accessibility initiative recognised in a company press release. I hold a B.E. from BITS Pilani and have mentored 10+ engineers across cross-functional teams.\r\n\r\n[COMPANY_SPECIFIC_PARAGRAPH]\r\n\r\nI am available for interviews at your convenience and am prepared to relocate upon offer. My compensation expectation aligns with the relevant Highly Skilled Migrant salary threshold for my age bracket, and I am open to discussing further.\r\n\r\nWarm regards,\r\nShirsak Sahoo\r\nshirsaksahoo96@gmail.com | +91-7997187900 | linkedin.com/in/shirsaksahoo`;\r\n\r\n  const payload = {\r\n    model: 'unsloth/Qwen3.5-9B-GGUF:Q6_K',\r\n    temperature: 0.2,\r\n    max_tokens: 10000,\r\n    top_p: 0.9,\r\n    repeat_penalty: 1.05,\r\n    stop: ['<|im_end|>', '</s>'],\r\n    messages: [\r\n      {\r\n        role: 'system',\r\n        content: `You are an expert technical recruiter and cover letter writer for senior software engineering roles.\r\n\r\nYour task has TWO parts. Analyze the job posting, then write a tailored cover letter if approved.\r\n\r\nReturn ONLY valid JSON — no prose, no markdown, no explanation outside the JSON.\r\n\r\n## PART 1 — Relocation/Sponsorship Analysis\r\n\r\n### HARD REJECT — set approve=false immediately if the description contains ANY of:\r\n- Negated sponsorship: \"do not sponsor\", \"cannot sponsor\", \"unable to sponsor\", \"no sponsorship\", \"sponsorship not available\", \"we do not offer visa\", \"we don't offer visa\"\r\n- Negated relocation: \"do not support relocation\", \"cannot support relocation\", \"no relocation\", \"relocation not provided\", \"we do not provide relocation\", \"we don't support relocation\"\r\n- Right-to-work restrictions: \"must have right to work\", \"must be eligible to work\", \"must already have\", \"no right to work sponsorship\", \"candidates must hold\", \"applicants must be\", \"you must already hold\"\r\n- Citizenship/residency requirements: \"EU citizenship required\", \"must be EU citizen\", \"dutch citizen\", \"dutch nationality\", \"permanent resident only\", \"must hold indefinite leave\"\r\n\r\nIMPORTANT: The presence of the word 'relocation' or 'sponsorship' alone does NOT make a job approvable — read the FULL phrase for polarity. \"We support relocation\" = positive. \"We do NOT support relocation\" = hard reject.\r\n\r\n### APPROVE — set approve=true only if the description clearly states:\r\n- Explicit visa sponsorship offered: \"visa sponsorship\", \"we sponsor visas\", \"sponsorship available\", \"visa support provided\"\r\n- Explicit relocation support: \"relocation package\", \"relocation assistance\", \"we support relocation\", \"relocation provided\"\r\n- Kennismigrant / Highly Skilled Migrant / HSM / Blue Card sponsorship mentioned\r\n- International candidates explicitly welcomed: \"open to international applicants\", \"global candidates welcome\"\r\n\r\n### UNCERTAIN — set approve=false\r\nIf nothing about sponsorship or work authorization is mentioned, approve=false. No benefit of the doubt.\r\n\r\n## PART 2 — Cover Letter (only if approve=true)\r\n\r\nIf approve=true: write a professional, human-sounding cover letter using the base template provided. Replace all placeholders. Write a concise company-specific paragraph. Keep it under 500 words. No markdown. No bullet points. No AI mentions.\r\n\r\nIf approve=false: set cover_letter to empty string \"\".\r\n\r\n## Output JSON format — return exactly this structure:\r\n{\r\n  \"approve\": true,\r\n  \"confidence\": \"high\",\r\n  \"reason\": \"mentions visa sponsorship\",\r\n  \"cover_letter\": \"Dear Hiring Team, ...\"\r\n}`\r\n      },\r\n      {\r\n        role: 'user',\r\n        content: `Job Title: ${job.title}\r\nCompany: ${job.company}\r\nLocation: ${job.location}\r\n\r\nBase cover letter template:\r\n${coverLetterTemplate}\r\n\r\nCandidate details:\r\nName: Shirsak Sahoo\r\nExperience: 7+ years\r\nEmail: shirsaksahoo96@gmail.com\r\nPhone: +91-7997187900\r\nLinkedIn: linkedin.com/in/shirsaksahoo\r\n\r\nJob Description:\r\n${(job.description || '')}`\r\n      }\r\n    ],\r\n    extra_body: {\r\n      chat_template_kwargs: {\r\n        enable_thinking: false\r\n      }\r\n    }\r\n  };\r\n\r\n  results.push({\r\n    json: {\r\n      ...job,\r\n      _llmPayload: payload\r\n    }\r\n  });\r\n}\r\n\r\nreturn results;"
      },
      "id": "2f6af7a8-0dd0-4e8e-be1a-bb2135370974",
      "name": "Build LLM Request",
      "type": "n8n-nodes-base.code",
      "position": [
        1232,
        192
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LLAMA_CPP_URL }}/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer no-key-needed"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json._llmPayload) }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "b3419084-a9f9-4386-b797-d2bc26d50d27",
      "name": "LLM Analysis + Cover Letter",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1472,
        192
      ],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "approved-condition",
              "leftValue": "={{ (() => {\nconst raw = $json.choices?.[0]?.message?.content || '{}';\ntry {\n  const parsed = JSON.parse(raw);\n  return parsed.approve === true;\n} catch(e) {\n  return false;\n}\n})() }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cb0c1d47-6059-4887-9c9e-f714df3b7330",
      "name": "Approved Relocation?",
      "type": "n8n-nodes-base.if",
      "position": [
        1712,
        192
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "jsCode": "const llmItem = $input.first();\nconst buildItem = $('Build LLM Request').first();\n\nif (!llmItem?.json || !buildItem?.json) {\n  return [];\n}\n\nconst raw = (llmItem.json?.choices?.[0]?.message?.content || '').trim();\n\nlet parsed = { approve: false, confidence: 'low', reason: 'parse_failed', cover_letter: '' };\ntry {\n  parsed = JSON.parse(raw);\n} catch (e) {\n  return [];\n}\n\nconst coverLetter = (parsed.cover_letter || '').trim();\nif (!coverLetter) {\n  return [];\n}\n\nconst job = buildItem.json;\n\nreturn [{\n  json: {\n    date: new Date().toISOString().split('T')[0],\n    company: (job.company || '').trim(),\n    title: (job.title || '').trim(),\n    location: (job.location || '').trim(),\n    url: (job.url || '')\n    .trim()\n    .replace(/\\?.*$/, '')\n    .toLowerCase(),\n    relocation_reason: (parsed.reason || '').trim(),\n    relocation_confidence: (parsed.confidence || '').trim(),\n    cover_letter: coverLetter,\n    status: 'Not Applied'\n  }\n}];"
      },
      "id": "cffc29c8-7acf-478f-a9f7-89372b3e03c3",
      "name": "Assemble Row",
      "type": "n8n-nodes-base.code",
      "position": [
        1952,
        112
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1lGi7mXQZKTbaP4ytTr0F3tcyjkFO4lxDfTMcdpb-8E4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "Date": "={{ $json.date }}",
            "Company": "={{ $json.company }}",
            "Role": "={{ $json.title }}",
            "Location": "={{ $json.location }}",
            "URL": "={{ $json.url }}",
            "Relocation Reason": "={{ $json.relocation_reason }}",
            "Confidence": "={{ $json.relocation_confidence }}",
            "Cover Letter": "={{ $json.cover_letter }}",
            "Status": "={{ $json.status }}"
          }
        },
        "options": {}
      },
      "id": "8dd055eb-b463-42dd-8385-9cdb66b1541f",
      "name": "Append To Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        2192,
        112
      ],
      "typeVersion": 4.4,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TrXIngdk7ZtrUczP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const HARD_REJECT = [\n  // Negated sponsorship\n  /\\bdo(?:es)?\\s+not\\s+(?:offer|provide|support)?\\s*(?:visa\\s+)?sponsor/i,\n  /\\bcannot\\s+(?:offer|provide|support)?\\s*(?:visa\\s+)?sponsor/i,\n  /\\bunable\\s+to\\s+(?:offer|provide|support)?\\s*(?:visa\\s+)?sponsor/i,\n  /\\bno\\s+(?:visa\\s+)?sponsorship\\b/i,\n  /\\bsponsorship\\s+(?:is\\s+)?not\\s+(?:available|offered|provided)/i,\n  /\\bwe\\s+don['\\u2019]t\\s+(?:offer|provide|support)?\\s*(?:visa\\s+)?sponsor/i,\n  /\\bwe\\s+do\\s+not\\s+(?:offer|provide|support)?\\s*(?:visa\\s+)?sponsor/i,\n  // Negated relocation\n  /\\bdo(?:es)?\\s+not\\s+support\\s+relocation\\b/i,\n  /\\bcannot\\s+support\\s+relocation\\b/i,\n  /\\bno\\s+relocation\\b/i,\n  /\\brelocation\\s+(?:is\\s+)?not\\s+(?:provided|available|offered|supported)/i,\n  /\\bwe\\s+don['\\u2019]t\\s+(?:support|provide|offer)\\s+relocation\\b/i,\n  /\\bwe\\s+do\\s+not\\s+(?:support|provide|offer)\\s+relocation\\b/i,\n  // Right-to-work blocks\n  /\\bmust\\s+(?:already\\s+)?have\\s+(?:the\\s+)?right\\s+to\\s+work\\b/i,\n  /\\bmust\\s+be\\s+eligible\\s+to\\s+work\\b/i,\n  /\\bno\\s+right\\s+to\\s+work\\s+sponsorship\\b/i,\n  /\\byou\\s+must\\s+already\\s+hold\\b/i,\n  /\\bcandidates\\s+must\\s+(?:hold|have|be)\\b/i,\n  /\\bapplicants\\s+must\\s+(?:hold|have|be)\\b/i,\n  // Citizenship / residency hard walls\n  /\\bEU\\s+citizenship\\s+(?:is\\s+)?required\\b/i,\n  /\\bmust\\s+be\\s+(?:an?\\s+)?EU\\s+citizen\\b/i,\n  /\\bdutch\\s+(?:citizen|national|citizenship|nationality)\\b/i,\n  /\\bpermanent\\s+resident\\s+only\\b/i,\n  /\\bmust\\s+hold\\s+indefinite\\s+leave\\b/i,\n  // Additional rejection patterns\n  /\\bonly\\s+(?:consider|accepting)\\s+(?:local|on-?site)\\s+candidates\\b/i,\n  /\\bwork\\s+(?:authorization|permit)\\s+(?:is\\s+)?required\\b/i,\n  /\\bmust\\s+be\\s+(?:legally\\s+)?authorized\\s+to\\s+work\\b/i,\n  /\\bauthorized\\s+to\\s+work\\s+in\\s+(?:the\\s+)?(?:US|UK|EU|Netherlands|Germany)\\s+(?:is\\s+)?required\\b/i,\n  /\\bno\\s+work\\s+permit\\s+(?:support|sponsorship)\\b/i\n];\n\nconst HARD_APPROVE = [\n  // Explicit visa / work permit sponsorship\n  /\\bwe\\s+(?:offer|provide|support|will\\s+sponsor)\\s+(?:visa|work\\s+permit)\\s+sponsorship\\b/i,\n  /\\bvisa\\s+sponsorship\\s+(?:is\\s+)?(?:available|offered|provided|supported)\\b/i,\n  /\\bsponsorship\\s+(?:is\\s+)?(?:available|offered|provided)\\s+for\\s+(?:this\\s+)?(?:role|position)\\b/i,\n  /\\bwill\\s+sponsor\\s+(?:a\\s+)?(?:visa|work\\s+permit)\\b/i,\n  /\\bvisa\\s+support\\s+(?:is\\s+)?(?:available|provided|offered)\\b/i,\n  /\\bwork\\s+permit\\s+(?:support|sponsorship|assistance)\\s+(?:is\\s+)?(?:available|provided|offered)\\b/i,\n  // Kennismigrant / Blue Card / HSM explicit\n  /\\bkennismigrant\\b/i,\n  /\\bhighly\\s+skilled\\s+migrant\\b/i,\n  /\\bHSM\\s+(?:visa|permit|sponsorship)\\b/i,\n  /\\bEU\\s+Blue\\s+Card\\b/i,\n  /\\bblue\\s+card\\s+sponsorship\\b/i,\n  // Relocation support\n  /\\brelocation\\s+(?:package|assistance|support|allowance|budget)\\s+(?:is\\s+)?(?:available|provided|offered|included)\\b/i,\n  /\\bwe\\s+(?:offer|provide|support)\\s+relocation\\b/i,\n  /\\bfull\\s+relocation\\s+(?:package|support|assistance)\\b/i,\n  /\\brelocation\\s+covered\\b/i,\n  // International / global candidates explicitly welcome\n  /\\bopen\\s+to\\s+(?:international|global|worldwide)\\s+(?:applicants?|candidates?)\\b/i,\n  /\\binternational\\s+candidates?\\s+(?:are\\s+)?(?:welcome|encouraged\\s+to\\s+apply)\\b/i,\n  /\\bglobal\\s+talent\\s+(?:welcome|program)\\b/i,\n  /\\bwelcome\\s+applicants?\\s+from\\s+(?:outside|abroad|any\\s+country)\\b/i,\n  // IND / Dutch immigration process mentions\n  /\\bIND\\s+(?:application|process|sponsorship|registration)\\b/i,\n  /\\bregistered\\s+(?:IND\\s+)?(?:knowledge\\s+)?migrant\\s+sponsor\\b/i\n];\n\nconst output = [];\n\nfor (const item of $input.all()) {\n  const job = item.json;\n  const text = ((job.title || '') + ' ' + (job.description || ''));\n\n  // 1. Hard reject — drop immediately\n  const rejected = HARD_REJECT.find(rx => rx.test(text));\n  if (rejected) {\n    console.log(`HARD REJECT: ${job.title} @ ${job.company} — matched: ${rejected}`);\n    continue;\n  }\n\n  // 2. Hard approve — tag and pass through\n  const approved = HARD_APPROVE.find(rx => rx.test(text));\n  if (approved) {\n    console.log(`HARD APPROVE: ${job.title} @ ${job.company} — matched: ${approved}`);\n    output.push({\n      json: {\n        ...job,\n        _regex_verdict: 'approved',\n        _regex_reason: approved.toString(),\n        _regex_confidence: 'high'\n      }\n    });\n    continue;\n  }\n\n  // 3. Uncertain — pass to LLM\n  output.push({\n    json: {\n      ...job,\n      _regex_verdict: 'uncertain',\n      _regex_reason: 'no_signal',\n      _regex_confidence: 'low'\n    }\n  });\n}\n\nconst approved_count = output.filter(i => i.json._regex_verdict === 'approved').length;\nconst uncertain_count = output.filter(i => i.json._regex_verdict === 'uncertain').length;\nconsole.log(`Regex results — approved: ${approved_count}, uncertain (→LLM): ${uncertain_count}`);\nreturn output;"
      },
      "id": "d5576739-bd90-448a-812c-fcc7a4c8809f",
      "name": "Regex Hard Filter",
      "type": "n8n-nodes-base.code",
      "position": [
        288,
        416
      ],
      "typeVersion": 2
    }
  ],
  "pinData": {},
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Scrape LinkedIn Jobs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Existing Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape LinkedIn Jobs": {
      "main": [
        [
          {
            "node": "Normalize Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Jobs": {
      "main": [
        [
          {
            "node": "Regex Hard Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing Jobs": {
      "main": [
        [
          {
            "node": "Merge New + Existing",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge New + Existing": {
      "main": [
        [
          {
            "node": "Filter Duplicate URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Duplicate URLs": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [],
        [
          {
            "node": "Build LLM Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build LLM Request": {
      "main": [
        [
          {
            "node": "LLM Analysis + Cover Letter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Analysis + Cover Letter": {
      "main": [
        [
          {
            "node": "Approved Relocation?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved Relocation?": {
      "main": [
        [
          {
            "node": "Assemble Row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Row": {
      "main": [
        [
          {
            "node": "Append To Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append To Google Sheet": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Regex Hard Filter": {
      "main": [
        [
          {
            "node": "Merge New + Existing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8a202c5b-61ef-4950-b285-0e11f104b5dc",
  "meta": {
    "instanceId": "ff4fcd04e02b0883c04ba691a16e0b39ce6580e81776fe61b57c57637edaca8b"
  },
  "id": "BRuKl2MIPMnNHxYE",
  "tags": []
}