NL Jobs - Full Automation.json
{
  "name": "NL Jobs - Full Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-5"
            }
          ]
        }
      },
      "id": "de73b1e9-c8ea-4b01-9f0a-a0fa024bc5c0",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -720,
        208
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/curious_coder~linkedin-jobs-scraper/run-sync-get-dataset-items",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $env.APIFY_API_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"urls\": [\n    \"https://www.linkedin.com/jobs/search/?keywords=software%20engineer%20visa%20sponsorship&location=Netherlands&f_TPR=r86400\",\n    \"https://www.linkedin.com/jobs/search/?keywords=frontend%20engineer%20relocation&location=Netherlands&f_TPR=r86400\",\n    \"https://www.linkedin.com/jobs/search/?keywords=react%20developer%20kennismigrant&location=Netherlands&f_TPR=r86400\",\n    \"https://www.linkedin.com/jobs/search/?keywords=AI%20engineer%20visa%20sponsor&location=Netherlands&f_TPR=r86400\",\n    \"https://www.linkedin.com/jobs/search/?keywords=fullstack%20developer%20sponsorship&location=Netherlands&f_TPR=r86400\"\n  ],\n  \"maxResults\": 20\n}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "9af35fed-2932-467f-8391-07184e59d9f4",
      "name": "Scrape LinkedIn Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -480,
        208
      ],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\nfor (const item of $input.all()) {\n  const j = item.json;\n\n  const url = (j.jobUrl || j.url || j.link || '').trim();\n  const title = j.title || j.jobTitle || j.position || '';\n  const company = j.company || j.companyName || '';\n  const location = j.location || j.jobLocation || '';\n  const description = j.description || j.jobDescription || j.descriptionHtml || '';\n\n  if (!url || !title || !description || description.length < 100) {\n    continue;\n  }\n\n  results.push({\n    json: {\n      url,\n      title,\n      company,\n      location,\n      description\n    }\n  });\n}\n\nconsole.log(`Jobs after normalization: ${results.length}`);\nreturn results;"
      },
      "id": "45b203b6-3980-4bfa-951a-d1ee41f9c3c1",
      "name": "Normalize Jobs",
      "type": "n8n-nodes-base.code",
      "position": [
        -240,
        208
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\nconst HIGH_PATTERNS = [\n  /visa sponsorship/i,\n  /visa sponsor/i,\n  /sponsorship available/i,\n  /work permit sponsorship/i,\n  /relocation support/i,\n  /relocation package/i,\n  /we sponsor/i,\n  /sponsor your visa/i,\n  /global mobility/i,\n  /kennismigrant/i,\n  /highly skilled migrant/i,\n  /ind sponsor/i,\n  /immigration support/i\n];\n\nconst REJECTION_PATTERNS = [\n  /must already have work authorization/i,\n  /must be authorized to work/i,\n  /no sponsorship/i,\n  /cannot sponsor/i,\n  /without sponsorship/i,\n  /eu citizenship required/i,\n  /eu passport required/i,\n  /netherlands only/i,\n  /dutch speakers only/i,\n  /must speak dutch/i,\n  /visa not provided/i,\n  /sponsorship not available/i\n];\n\nfor (const item of $input.all()) {\n  const job = item.json;\n\n  const text = `\\n${job.title || ''}\\n${job.company || ''}\\n${job.description || ''}\\n`.toLowerCase();\n\n  const matchedHigh = HIGH_PATTERNS\n    .filter(r => r.test(text))\n    .map(r => r.source);\n\n  const matchedReject = REJECTION_PATTERNS\n    .filter(r => r.test(text))\n    .map(r => r.source);\n\n  if (matchedReject.length > 0) continue;\n  if (matchedHigh.length === 0) continue;\n\n  results.push({\n    json: {\n      ...job,\n      relocation_signals: matchedHigh.join(', '),\n      relocation_confidence: 'high'\n    }\n  });\n}\n\nconsole.log(`Jobs after relocation filter: ${results.length}`);\nreturn results;"
      },
      "id": "3b0e0252-4626-4cb6-9a9e-33385bf46024",
      "name": "Strict Relocation Filter",
      "type": "n8n-nodes-base.code",
      "position": [
        0,
        208
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1lGi7mXQZKTbaP4ytTr0F3tcyjkFO4lxDfTMcdpb-8E4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet2",
          "mode": "name"
        },
        "options": {}
      },
      "id": "e57a38a7-f00f-4d35-9740-6f24897161ac",
      "name": "Get Existing Jobs",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        0,
        0
      ],
      "typeVersion": 4.4,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TrXIngdk7ZtrUczP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT input1.* FROM input1\nLEFT JOIN input2 ON LOWER(TRIM(input1.url)) = LOWER(TRIM(input2.URL))\nWHERE input2.URL IS NULL"
      },
      "id": "8dff5766-d4e6-4bf1-ba1e-2669474bebad",
      "name": "Merge New + Existing",
      "type": "n8n-nodes-base.merge",
      "position": [
        240,
        208
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "jsCode": "// $input.all() = new filtered jobs from Apify (passed through from input1 of Merge)\n// $('Get Existing Jobs').all() = all rows already in the Google Sheet\n\nconst normalizeUrl = (url = '') =>\n  url.toString().split('?')[0].replace(/\\/$/, '').trim().toLowerCase();\n\nconst normalizeText = (v = '') =>\n  v.toString().trim().toLowerCase();\n\n// Build a set of keys from the existing sheet rows\nconst existing = new Set();\n\nlet sheetRows = [];\ntry {\n  sheetRows = $('Get Existing Jobs').all();\n} catch (e) {\n  sheetRows = [];\n}\n\nfor (const row of sheetRows) {\n  const r = row.json || {};\n  const url = r.URL || r.Url || r.url || '';\n  if (!url) continue;\n  const key = [\n    normalizeUrl(url),\n    normalizeText(r.Company || r.company || ''),\n    normalizeText(r.Role || r.role || '')\n  ].join('|');\n  existing.add(key);\n}\n\nconsole.log(`Existing sheet rows loaded: ${existing.size}`);\n\n// Now check each incoming new job against the existing set\nconst output = [];\n\nfor (const item of $input.all()) {\n  const job = item.json || {};\n\n  if (!job.url || !job.title) continue;\n\n  const key = [\n    normalizeUrl(job.url),\n    normalizeText(job.company || ''),\n    normalizeText(job.title)\n  ].join('|');\n\n  if (existing.has(key)) {\n    console.log(`Duplicate skipped: ${job.title} @ ${job.company}`);\n    continue;\n  }\n\n  output.push({ json: job });\n}\n\nconsole.log(`New unique jobs after dedup: ${output.length}`);\nreturn output;"
      },
      "id": "12782548-c016-4ea3-ab6c-53f8476014bb",
      "name": "Filter Duplicate URLs",
      "type": "n8n-nodes-base.code",
      "position": [
        480,
        208
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "24b82fc0-9678-4d86-8547-8e83f07db5f3",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        720,
        208
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\nconst coverLetterTemplate = `Dear Hiring Manager,\n\nI am excited to apply for the [JOB_TITLE] position at [COMPANY_NAME].\n\nI am currently working as a Senior Software Engineer (SDE3 / Associate Vice President) at JPMorgan Chase Asset & Wealth Management, where I work on AI-native engineering platforms, MCP server infrastructure, developer tooling, and cloud systems.\n\nI work extensively with React, TypeScript, Python, AWS, AI tooling, and scalable engineering systems.\n\nI am particularly interested in relocating to the Netherlands through a visa sponsorship / kennismigrant opportunity.\n\nThank you for your consideration.\n\nBest regards,\nShirsak Sahoo`;\n\nfor (const item of $input.all()) {\n  const {\n    url,\n    title,\n    company,\n    location,\n    description,\n    relocation_signals,\n    relocation_confidence\n  } = item.json;\n\n  const trimmedDescription = description.substring(0, 1800);\n\n  const payload = {\n    model: 'unsloth/Qwen3.5-9B-GGUF:Q6_K',\n    temperature: 0.4,\n    max_tokens: 10000,\n    top_p: 0.9,\n    repeat_penalty: 1.1,\n    stop: ['<|im_end|>', '</s>'],\n    messages: [\n      {\n        role: 'system',\n        content: 'You are an expert cover letter writer. Generate concise professional cover letters tailored to the role.'\n      },\n      {\n        role: 'user',\n        content: `Template:\\n${coverLetterTemplate}\\n\\nJob Description:\\n${trimmedDescription}\\n\\nCompany: ${company}\\nRole: ${title}\\nLocation: ${location}\\n\\nGenerate a personalized cover letter.`\n      }\n    ],\n    extra_body: {\n      chat_template_kwargs: {\n        enable_thinking: false\n      }\n    }\n  };\n\n  results.push({\n    json: {\n      _job: {\n        url,\n        title,\n        company,\n        location,\n        description: trimmedDescription,\n        relocation_signals,\n        relocation_confidence\n      },\n      _llmPayload: payload\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "a62baf77-d1c7-42d9-b763-f7c90bcd4115",
      "name": "Build Cover Letter Request",
      "type": "n8n-nodes-base.code",
      "position": [
        960,
        208
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LLAMA_CPP_URL }}/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer no-key-needed"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json._llmPayload) }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "ed2a3152-140a-4a96-a57b-6c7d53700dcf",
      "name": "LLM Generate Cover Letter",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1200,
        208
      ],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "jsCode": "const llmItem = $input.first();\nconst reqItem = $('Build Cover Letter Request').first();\n\nif (!llmItem?.json || !reqItem?.json?._job) {\n  return [];\n}\n\nconst coverLetter = (llmItem.json?.choices?.[0]?.message?.content || '').trim();\n\nif (!coverLetter) {\n  return [];\n}\n\nconst job = reqItem.json._job;\n\nreturn [\n  {\n    json: {\n      date: new Date().toISOString().split('T')[0],\n      company: job.company || '',\n      title: job.title || '',\n      location: job.location || '',\n      url: job.url || '',\n      relocation_signals: job.relocation_signals || '',\n      relocation_confidence: job.relocation_confidence || '',\n      cover_letter: coverLetter,\n      status: 'Not Applied'\n    }\n  }\n];"
      },
      "id": "7b772319-3982-4b28-9146-5a2a18007782",
      "name": "Assemble Row",
      "type": "n8n-nodes-base.code",
      "position": [
        1440,
        208
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1lGi7mXQZKTbaP4ytTr0F3tcyjkFO4lxDfTMcdpb-8E4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "Date": "={{ $json.date }}",
            "Company": "={{ $json.company }}",
            "Role": "={{ $json.title }}",
            "Location": "={{ $json.location }}",
            "URL": "={{ $json.url }}",
            "Reloc Signals": "={{ $json.relocation_signals }}",
            "Confidence": "={{ $json.relocation_confidence }}",
            "Cover Letter": "={{ $json.cover_letter }}",
            "Status": "={{ $json.status }}"
          }
        },
        "options": {}
      },
      "id": "17712fca-2c2d-47e0-bd13-3679b9e02c44",
      "name": "Append To Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1680,
        208
      ],
      "typeVersion": 4.4,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TrXIngdk7ZtrUczP",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Scrape LinkedIn Jobs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Existing Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape LinkedIn Jobs": {
      "main": [
        [
          {
            "node": "Normalize Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Jobs": {
      "main": [
        [
          {
            "node": "Strict Relocation Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Strict Relocation Filter": {
      "main": [
        [
          {
            "node": "Merge New + Existing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing Jobs": {
      "main": [
        [
          {
            "node": "Merge New + Existing",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge New + Existing": {
      "main": [
        [
          {
            "node": "Filter Duplicate URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Duplicate URLs": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [],
        [
          {
            "node": "Build Cover Letter Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Cover Letter Request": {
      "main": [
        [
          {
            "node": "LLM Generate Cover Letter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Generate Cover Letter": {
      "main": [
        [
          {
            "node": "Assemble Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Row": {
      "main": [
        [
          {
            "node": "Append To Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append To Google Sheet": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "511acce8-3b09-4f6d-87ae-ea9de531e31f",
  "meta": {
    "instanceId": "ff4fcd04e02b0883c04ba691a16e0b39ce6580e81776fe61b57c57637edaca8b"
  },
  "id": "KZKWQi2X5d5XEf4n",
  "tags": []
}