NL Jobs - Full Automation.json
{
  "name": "NL Jobs - LLM Relocation + Cover Letter",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-5"
            }
          ]
        }
      },
      "id": "daily-trigger",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -720,
        200
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/curious_coder~linkedin-jobs-scraper/run-sync-get-dataset-items",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $env.APIFY_API_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"urls\": [\n    \"https://www.linkedin.com/jobs/search/?keywords=software%20engineer%20visa%20sponsorship&location=Netherlands&f_TPR=r86400\",\n    \"https://www.linkedin.com/jobs/search/?keywords=frontend%20engineer%20relocation&location=Netherlands&f_TPR=r86400\",\n    \"https://www.linkedin.com/jobs/search/?keywords=react%20developer%20kennismigrant&location=Netherlands&f_TPR=r86400\",\n    \"https://www.linkedin.com/jobs/search/?keywords=AI%20engineer%20visa%20sponsor&location=Netherlands&f_TPR=r86400\",\n    \"https://www.linkedin.com/jobs/search/?keywords=fullstack%20developer%20sponsorship&location=Netherlands&f_TPR=r86400\"\n  ],\n  \"maxResults\": 20\n}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "scrape-linkedin",
      "name": "Scrape LinkedIn Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -480,
        200
      ],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\nfor (const item of $input.all()) {\n  const j = item.json;\n\n  const url = (j.jobUrl || j.url || j.link || '').trim();\n  const title = j.title || j.jobTitle || j.position || '';\n  const company = j.company || j.companyName || '';\n  const location = j.location || j.jobLocation || '';\n  const description = j.description || j.jobDescription || j.descriptionHtml || '';\n\n  if (!url || !title || !description || description.length < 100) {\n    continue;\n  }\n\n  results.push({\n    json: {\n      url,\n      title,\n      company,\n      location,\n      description\n    }\n  });\n}\n\nconsole.log(`Jobs after normalization: ${results.length}`);\nreturn results;"
      },
      "id": "normalize-jobs",
      "name": "Normalize Jobs",
      "type": "n8n-nodes-base.code",
      "position": [
        -240,
        200
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1lGi7mXQZKTbaP4ytTr0F3tcyjkFO4lxDfTMcdpb-8E4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "options": {}
      },
      "id": "get-existing",
      "name": "Get Existing Jobs",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -240,
        -40
      ],
      "typeVersion": 4.4,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TrXIngdk7ZtrUczP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT input1.* FROM input1\nLEFT JOIN input2 ON LOWER(TRIM(input1.url)) = LOWER(TRIM(input2.URL))\nWHERE input2.URL IS NULL"
      },
      "id": "merge-new-existing",
      "name": "Merge New + Existing",
      "type": "n8n-nodes-base.merge",
      "position": [
        0,
        200
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "jsCode": "const normalizeUrl = (url = '') => url.toString().split('?')[0].replace(/\\/$/, '').trim().toLowerCase();\nconst normalizeText = (v = '') => v.toString().trim().toLowerCase();\n\nconst existing = new Set();\n\nlet sheetRows = [];\ntry {\n  sheetRows = $('Get Existing Jobs').all();\n} catch (e) {\n  sheetRows = [];\n}\n\nfor (const row of sheetRows) {\n  const r = row.json || {};\n  const url = r.URL || r.Url || r.url || '';\n\n  if (!url) continue;\n\n  const key = [\n    normalizeUrl(url),\n    normalizeText(r.Company || r.company || ''),\n    normalizeText(r.Role || r.role || '')\n  ].join('|');\n\n  existing.add(key);\n}\n\nconst output = [];\n\nfor (const item of $input.all()) {\n  const job = item.json || {};\n\n  if (!job.url || !job.title) continue;\n\n  const key = [\n    normalizeUrl(job.url),\n    normalizeText(job.company || ''),\n    normalizeText(job.title)\n  ].join('|');\n\n  if (existing.has(key)) {\n    console.log(`Duplicate skipped: ${job.title} @ ${job.company}`);\n    continue;\n  }\n\n  output.push({ json: job });\n}\n\nconsole.log(`New unique jobs after dedup: ${output.length}`);\nreturn output;"
      },
      "id": "filter-duplicates",
      "name": "Filter Duplicate URLs",
      "type": "n8n-nodes-base.code",
      "position": [
        240,
        200
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "split-batches",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        480,
        200
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\nfor (const item of $input.all()) {\n  const job = item.json;\n\n  const trimmedDescription = (job.description || '');\n\n  const payload = {\n    model: 'unsloth/Qwen3.5-9B-GGUF:Q6_K',\n    temperature: 0.1,\n    max_tokens: 10000,\n    top_p: 0.9,\n    repeat_penalty: 1.05,\n    stop: ['<|im_end|>', '</s>'],\n    messages: [\n      {\n        role: 'system',\n        content: `You are an expert technical recruiter.\n\nAnalyze whether this job is suitable for an Indian software engineer relocating to the Netherlands.\n\nReturn ONLY valid JSON.\n\nRules:\n- approve=true if the role likely supports visa sponsorship, relocation, kennismigrant hiring, or international candidates.\n- approve=false if the role clearly requires Dutch only, EU citizenship, existing work authorization, or explicitly says no sponsorship.\n- confidence should be: high, medium, or low.\n- reason should be short.\n\nJSON format:\n{\n  \"approve\": true,\n  \"confidence\": \"high\",\n  \"reason\": \"mentions visa sponsorship\"\n}`\n      },\n      {\n        role: 'user',\n        content: `Job Title: ${job.title}\nCompany: ${job.company}\nLocation: ${job.location}\n\nDescription:\n${trimmedDescription}`\n      }\n    ],\n    extra_body: {\n      chat_template_kwargs: {\n        enable_thinking: false\n      }\n    }\n  };\n\n  results.push({\n    json: {\n      ...job,\n      _relocationPayload: payload\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "build-relocation-request",
      "name": "Build Relocation Analysis Request",
      "type": "n8n-nodes-base.code",
      "position": [
        720,
        200
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LLAMA_CPP_URL }}/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer no-key-needed"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json._relocationPayload) }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "llm-relocation-analysis",
      "name": "LLM Relocation Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        960,
        200
      ],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "approved-condition",
              "leftValue": "={{ (() => {\nconst raw = $json.choices?.[0]?.message?.content || '{}';\ntry {\n  const parsed = JSON.parse(raw);\n  return parsed.approve === true;\n} catch(e) {\n  return false;\n}\n})() }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-approved",
      "name": "Approved Relocation?",
      "type": "n8n-nodes-base.if",
      "position": [
        1200,
        200
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "jsCode": "const relocationResp = $('LLM Relocation Analysis').first().json; const buildNode = $('Build Relocation Analysis Request').first().json; const raw = relocationResp.choices?.[0]?.message?.content || '{}'; let relocation = { approve: false, confidence: 'low', reason: 'parse_failed' }; try { relocation = JSON.parse(raw); } catch (e) {} const job = buildNode; const coverLetterTemplate = `Dear [HIRING_MANAGER / Hiring Team],\\n\\nI am writing to express my interest in the [JOB_TITLE] position at [COMPANY_NAME]. With over [YEARS_OF_EXPERIENCE] years of experience in software engineering, I bring strong expertise in scalable web applications, cloud-native systems, distributed architectures, and modern frontend/backend technologies.\\n\\nThroughout my career, I have worked across full-stack engineering, platform architecture, AI-integrated systems, and developer tooling. My experience includes building scalable applications using technologies such as React, TypeScript, Node.js, Python, cloud infrastructure, APIs, microservices, and modern engineering workflows. I have also contributed to technical leadership, mentoring engineers, improving development practices, and delivering production-grade systems at scale.\\n\\nIn my recent roles, I have worked on architecting internal platforms, AI-native workflows, enterprise applications, and reusable engineering systems that improve developer productivity and product scalability. I enjoy solving complex technical problems while balancing performance, maintainability, reliability, and user experience.\\n\\n[COMPANY_SPECIFIC_PARAGRAPH]\\n\\nWhat particularly interests me about this opportunity is the chance to contribute to impactful products while collaborating with strong engineering teams in a fast-paced environment. I am excited by opportunities where I can combine hands-on engineering with architectural thinking and long-term technical strategy.\\n\\nI would welcome the opportunity to further discuss how my background and experience align with your team's goals. Thank you for your time and consideration.\\n\\nWarm regards,\\n\\n[YOUR_NAME]\\n[YOUR_EMAIL] | [YOUR_PHONE] | [LINKEDIN_URL]`; const payload = { model: 'unsloth/Qwen3.5-9B-GGUF:Q6_K', temperature: 0.35, max_tokens: 10000, top_p: 0.9, repeat_penalty: 1.1, stop: ['<|im_end|>', '</s>'], messages: [{ role: 'system', content: `You are an expert technical cover letter writer for senior software engineering roles.\\n\\nYour task is to customize a professional, human-sounding cover letter for each job application.\\n\\nRules:\\n- Output ONLY the final cover letter\\n- Replace all placeholders correctly\\n- Write a concise but strong company-specific paragraph\\n- Align technical experience with the job description\\n- Keep tone professional and natural\\n- Avoid exaggeration and generic buzzwords\\n- No markdown\\n- No bullet points\\n- Keep it under 500 words\\n- Do not mention AI assistance` }, { role: 'user', content: `Base template:\\n${coverLetterTemplate}\\n\\nCandidate details:\\nName: Shirsak Sahoo\\nExperience: 7+\\nEmail: shirsaksahoo96@gmail.com\\nPhone: +91-7997187900\\nLinkedIn: linkedin.com/in/shirsaksahoo\\n\\nJob title: ${job.title}\\nCompany: ${job.company}\\nLocation: ${job.location}\\n\\nRelocation analysis:\\n${JSON.stringify(relocation)}\\n\\nJob description:\\n${(job.description || '')}` }], extra_body: { chat_template_kwargs: { enable_thinking: false } } }; return [{ json: { ...job, relocation_reason: relocation.reason, relocation_confidence: relocation.confidence, _llmPayload: payload } }];"
      },
      "id": "build-cover-request",
      "name": "Build Cover Letter Request",
      "type": "n8n-nodes-base.code",
      "position": [
        1440,
        120
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LLAMA_CPP_URL }}/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer no-key-needed"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json._llmPayload) }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "llm-cover-letter",
      "name": "LLM Generate Cover Letter",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1680,
        120
      ],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "jsCode": "const llmItem = $input.first();\nconst reqItem = $('Build Cover Letter Request').first();\n\nif (!llmItem?.json || !reqItem?.json) {\n  return [];\n}\n\nconst coverLetter = (llmItem.json?.choices?.[0]?.message?.content || '').trim();\n\nif (!coverLetter) {\n  return [];\n}\n\nconst job = reqItem.json;\n\nreturn [{\n  json: {\n    date: new Date().toISOString().split('T')[0],\n    company: job.company || '',\n    title: job.title || '',\n    location: job.location || '',\n    url: job.url || '',\n    relocation_reason: job.relocation_reason || '',\n    relocation_confidence: job.relocation_confidence || '',\n    cover_letter: coverLetter,\n    status: 'Not Applied'\n  }\n}];"
      },
      "id": "assemble-row",
      "name": "Assemble Row",
      "type": "n8n-nodes-base.code",
      "position": [
        1920,
        120
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1lGi7mXQZKTbaP4ytTr0F3tcyjkFO4lxDfTMcdpb-8E4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "Date": "={{ $json.date }}",
            "Company": "={{ $json.company }}",
            "Role": "={{ $json.title }}",
            "Location": "={{ $json.location }}",
            "URL": "={{ $json.url }}",
            "Relocation Reason": "={{ $json.relocation_reason }}",
            "Confidence": "={{ $json.relocation_confidence }}",
            "Cover Letter": "={{ $json.cover_letter }}",
            "Status": "={{ $json.status }}"
          }
        },
        "options": {}
      },
      "id": "append-sheet",
      "name": "Append To Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        2160,
        120
      ],
      "typeVersion": 4.4,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TrXIngdk7ZtrUczP",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Scrape LinkedIn Jobs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Existing Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape LinkedIn Jobs": {
      "main": [
        [
          {
            "node": "Normalize Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Jobs": {
      "main": [
        [
          {
            "node": "Merge New + Existing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing Jobs": {
      "main": [
        [
          {
            "node": "Merge New + Existing",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge New + Existing": {
      "main": [
        [
          {
            "node": "Filter Duplicate URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Duplicate URLs": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [],
        [
          {
            "node": "Build Relocation Analysis Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Relocation Analysis Request": {
      "main": [
        [
          {
            "node": "LLM Relocation Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Relocation Analysis": {
      "main": [
        [
          {
            "node": "Approved Relocation?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved Relocation?": {
      "main": [
        [
          {
            "node": "Build Cover Letter Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Cover Letter Request": {
      "main": [
        [
          {
            "node": "LLM Generate Cover Letter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Generate Cover Letter": {
      "main": [
        [
          {
            "node": "Assemble Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Row": {
      "main": [
        [
          {
            "node": "Append To Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append To Google Sheet": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}