workflow.json
{
  "name": "NL Jobs - Regex Relocation + Cover Letter",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-5"
            }
          ]
        }
      },
      "id": "trigger-01",
      "name": "Daily Trigger (8AM IST Mon-Fri)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -1200,
        0
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/curious_coder~linkedin-jobs-scraper/run-sync-get-dataset-items",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $env.APIFY_API_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"urls\": [\n    \"https://www.linkedin.com/jobs/search/?keywords=software%20engineer%20Netherlands%20relocation&location=Netherlands&f_TPR=r86400\",\n    \"https://www.linkedin.com/jobs/search/?keywords=senior%20developer%20Amsterdam%20visa%20sponsor&location=Netherlands&f_TPR=r86400\",\n    \"https://www.linkedin.com/jobs/search/?keywords=AI%20engineer%20Netherlands%20sponsorship&location=Netherlands&f_TPR=r86400\"\n  ],\n  \"maxResults\": 10\n}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "scrape-01",
      "name": "Scrape LinkedIn Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -960,
        0
      ],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "jsCode": "// Normalize scraped jobs.\nconst results = [];\n\nfor (const item of $input.all()) {\n  const j = item.json;\n\n  const url         = (j.jobUrl || j.url || j.link || '').trim();\n  const title       = j.title || j.jobTitle || j.position || '';\n  const company     = j.company || j.companyName || '';\n  const location    = j.location || j.jobLocation || '';\n  const description = j.description || j.jobDescription || j.descriptionHtml || '';\n\n  if (!url || !title || !description || description.length < 100) {\n    continue;\n  }\n\n  results.push({\n    json: {\n      url,\n      title,\n      company,\n      location,\n      description\n    }\n  });\n}\n\nconsole.log(`Jobs after normalization: ${results.length}`);\nreturn results;"
      },
      "id": "normalize-01",
      "name": "Normalize Jobs",
      "type": "n8n-nodes-base.code",
      "position": [
        -720,
        0
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Regex-only relocation + sponsorship filter.\nconst results = [];\n\nconst HIGH_PATTERNS = [\n  /visa sponsorship/i,\n  /sponsorship available/i,\n  /provide visa/i,\n  /work permit sponsorship/i,\n  /relocation support/i,\n  /relocation package/i,\n  /kennismigrant/i,\n  /ind sponsor/i,\n  /visa sponsor/i,\n  /sponsoring visas/i,\n  /we sponsor/i,\n  /sponsor your visa/i,\n  /global mobility/i\n];\n\nconst MEDIUM_PATTERNS = [\n  /eu blue card/i,\n  /highly skilled migrant/i,\n  /work authorization/i,\n  /must be eligible to work/i,\n  /relocate to netherlands/i,\n  /immigration support/i,\n  /work permit/i\n];\n\nfor (const item of $input.all()) {\n  const job = item.json;\n\n  const text = `${job.title}\\n${job.description}`.toLowerCase();\n\n  const matchedHigh = HIGH_PATTERNS\n    .filter(r => r.test(text))\n    .map(r => r.source.replace(/\\\\/g, ''));\n\n  const matchedMedium = MEDIUM_PATTERNS\n    .filter(r => r.test(text))\n    .map(r => r.source.replace(/\\\\/g, ''));\n\n  if (matchedHigh.length === 0 && matchedMedium.length === 0) {\n    continue;\n  }\n\n  const confidence = matchedHigh.length > 0 ? 'high' : 'medium';\n\n  results.push({\n    json: {\n      url: job.url,\n      title: job.title,\n      company: job.company,\n      location: job.location,\n      description: job.description,\n      relocation_signals: [...matchedHigh, ...matchedMedium].join(', '),\n      relocation_confidence: confidence\n    }\n  });\n}\n\nconsole.log(`Jobs after regex relocation filter: ${results.length}`);\nreturn results;"
      },
      "id": "regex-filter-01",
      "name": "Regex Relocation Filter",
      "type": "n8n-nodes-base.code",
      "position": [
        -480,
        0
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Build cover letter LLM request using wf1-style prompting.\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const {\n    url,\n    title,\n    company,\n    location,\n    description,\n    relocation_signals,\n    relocation_confidence\n  } = item.json;\n\n  const payload = {\n    model: 'unsloth/Qwen3.5-9B-GGUF:Q6_K',\n    temperature: 0.7,\n    max_tokens: 12000,\n    messages: [\n      {\n        role: 'system',\n        content: 'Write an optimized cover letter for the incoming job description. Use only information from the provided resume. Do not make anything up. The cover letter should be one paragraph followed by bullet points. Output plain text only. No markdown fences. No reasoning. No thinking.'\n      },\n      {\n        role: 'user',\n        content: `Job Description:\\n${description.slice(0, 3000)}\\n\\nResume:\\nShirsak Sahoo\\nSenior Software Engineer (SDE3/AVP) with 6+ years experience. Currently at JPMorgan Chase Asset & Wealth Management building AI-native platforms including Connect Studio, MCP server infrastructure, RAG pipelines and internal AI tooling. Strong experience in React, TypeScript, JavaScript, Python, AWS, Node.js, GraphQL and agentic AI systems. BITS Pilani Computer Science graduate (2019). Experience building scalable frontend systems, full-stack platforms, developer tooling, AI workflows and automation systems. Looking to relocate to the Netherlands through the kennismigrant visa pathway. Available for remote interviews and relocation in Q3/Q4 2026.\\n\\nCompany: ${company}\\nRole: ${title}\\nLocation: ${location}`\n      }\n    ],\n    extra_body: {\n      chat_template_kwargs: {\n        enable_thinking: false\n      }\n    }\n  };\n\n  results.push({\n    json: {\n      _job: {\n        url,\n        title,\n        company,\n        location,\n        description,\n        relocation_signals,\n        relocation_confidence\n      },\n      _llmPayload: payload\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "build-cover-req-01",
      "name": "Build Cover Letter Request",
      "type": "n8n-nodes-base.code",
      "position": [
        -240,
        0
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LLAMA_CPP_URL }}/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer no-key-needed"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json._llmPayload) }}",
        "options": {
          "timeout": 300000,
          "response": {
            "responseFormat": "json"
          }
        }
      },
      "id": "llm-cover-01",
      "name": "LLM: Generate Cover Letter",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        0,
        0
      ],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "jsCode": "// Assemble final sheet row.\nconst llmItems = $input.all();\nconst reqItems = $('Build Cover Letter Request').all();\nconst results = [];\n\nfor (let i = 0; i < llmItems.length; i++) {\n  try {\n    const llmItem = llmItems[i];\n    const reqItem = reqItems[i];\n\n    if (!llmItem?.json || !reqItem?.json?._job) continue;\n\n    const coverLetter = (llmItem.json?.choices?.[0]?.message?.content || '').trim();\n\n    if (!coverLetter) continue;\n\n    const job = reqItem.json._job;\n\n    results.push({\n      json: {\n        date: new Date().toISOString().split('T')[0],\n        company: job.company || '',\n        title: job.title || '',\n        location: job.location || '',\n        url: job.url || '',\n        relocation_signals: job.relocation_signals || '',\n        relocation_confidence: job.relocation_confidence || '',\n        cover_letter: coverLetter,\n        status: 'Not Applied'\n      }\n    });\n  } catch (e) {\n    console.log('Assemble error:', e.message);\n  }\n}\n\nreturn results;"
      },
      "id": "assemble-01",
      "name": "Assemble Row",
      "type": "n8n-nodes-base.code",
      "position": [
        240,
        0
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "Date": "={{ $json.date }}",
            "Company": "={{ $json.company }}",
            "Role": "={{ $json.title }}",
            "Location": "={{ $json.location }}",
            "URL": "={{ $json.url }}",
            "Reloc Signals": "={{ $json.relocation_signals }}",
            "Confidence": "={{ $json.relocation_confidence }}",
            "Cover Letter": "={{ $json.cover_letter }}",
            "Status": "={{ $json.status }}"
          }
        },
        "options": {
          "valueInputMode": "RAW"
        }
      },
      "id": "gsheet-01",
      "name": "Append to Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        480,
        0
      ],
      "typeVersion": 4.4,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-cred",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Daily Trigger (8AM IST Mon-Fri)": {
      "main": [
        [
          {
            "node": "Scrape LinkedIn Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape LinkedIn Jobs": {
      "main": [
        [
          {
            "node": "Normalize Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Jobs": {
      "main": [
        [
          {
            "node": "Regex Relocation Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Regex Relocation Filter": {
      "main": [
        [
          {
            "node": "Build Cover Letter Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Cover Letter Request": {
      "main": [
        [
          {
            "node": "LLM: Generate Cover Letter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM: Generate Cover Letter": {
      "main": [
        [
          {
            "node": "Assemble Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Row": {
      "main": [
        [
          {
            "node": "Append to Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}