workflow.json
{
  "name": "NL Jobs - Iterative Relocation + Cover Letter",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-5"
            }
          ]
        }
      },
      "id": "1934620c-639d-4a47-bfd7-078c26a76953",
      "name": "Daily Trigger (8AM IST Mon-Fri)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        0,
        0
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/curious_coder~linkedin-jobs-scraper/run-sync-get-dataset-items",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $env.APIFY_API_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"urls\": [\n    \"https://www.linkedin.com/jobs/search/?keywords=software%20engineer%20Netherlands%20relocation&location=Netherlands&f_TPR=r86400\",\n    \"https://www.linkedin.com/jobs/search/?keywords=senior%20developer%20Amsterdam%20visa%20sponsor&location=Netherlands&f_TPR=r86400\",\n    \"https://www.linkedin.com/jobs/search/?keywords=AI%20engineer%20Netherlands%20sponsorship&location=Netherlands&f_TPR=r86400\"\n  ],\n  \"maxResults\": 10\n}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "e3ffbd38-5ff8-4d6f-b4b7-e2dec2e504ac",
      "name": "Scrape LinkedIn Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        240,
        0
      ],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "jsCode": "// Normalize scraped jobs.\nconst results = [];\n\nfor (const item of $input.all()) {\n  const j = item.json;\n\n  const url = (j.jobUrl || j.url || j.link || '').trim();\n  const title = j.title || j.jobTitle || j.position || '';\n  const company = j.company || j.companyName || '';\n  const location = j.location || j.jobLocation || '';\n  const description = j.description || j.jobDescription || j.descriptionHtml || '';\n\n  if (!url || !title || !description || description.length < 100) {\n    continue;\n  }\n\n  results.push({\n    json: {\n      url,\n      title,\n      company,\n      location,\n      description\n    }\n  });\n}\n\nconsole.log(`Jobs after normalization: ${results.length}`);\nreturn results;"
      },
      "id": "d3bbe5ba-54d0-4b43-95a3-b64b5c075db9",
      "name": "Normalize Jobs",
      "type": "n8n-nodes-base.code",
      "position": [
        480,
        0
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Regex-only relocation + sponsorship filter.\nconst results = [];\n\nconst HIGH_PATTERNS = [\n  /visa sponsorship/i,\n  /sponsorship available/i,\n  /provide visa/i,\n  /work permit sponsorship/i,\n  /relocation support/i,\n  /relocation package/i,\n  /kennismigrant/i,\n  /ind sponsor/i,\n  /visa sponsor/i,\n  /sponsoring visas/i,\n  /we sponsor/i,\n  /sponsor your visa/i,\n  /global mobility/i\n];\n\nconst MEDIUM_PATTERNS = [\n  /eu blue card/i,\n  /highly skilled migrant/i,\n  /work authorization/i,\n  /must be eligible to work/i,\n  /relocate to netherlands/i,\n  /immigration support/i,\n  /work permit/i\n];\n\nfor (const item of $input.all()) {\n  const job = item.json;\n\n  const text = `${job.title}\\n${job.description}`.toLowerCase();\n\n  const matchedHigh = HIGH_PATTERNS\n    .filter(r => r.test(text))\n    .map(r => r.source.replace(/\\\\/g, ''));\n\n  const matchedMedium = MEDIUM_PATTERNS\n    .filter(r => r.test(text))\n    .map(r => r.source.replace(/\\\\/g, ''));\n\n  if (matchedHigh.length === 0 && matchedMedium.length === 0) {\n    continue;\n  }\n\n  const confidence = matchedHigh.length > 0 ? 'high' : 'medium';\n\n  results.push({\n    json: {\n      url: job.url,\n      title: job.title,\n      company: job.company,\n      location: job.location,\n      description: job.description,\n      relocation_signals: [...matchedHigh, ...matchedMedium].join(', '),\n      relocation_confidence: confidence\n    }\n  });\n}\n\nconsole.log(`Jobs after regex relocation filter: ${results.length}`);\nreturn results;"
      },
      "id": "4ad93330-9695-4b8a-b4a5-3454eb4ee263",
      "name": "Regex Relocation Filter",
      "type": "n8n-nodes-base.code",
      "position": [
        720,
        0
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "options": {
          "size": 1,
          "ignoreError": false
        }
      },
      "id": "78270a0d-1401-43b0-a36b-40f634cc6fb3",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        960,
        0
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "jsCode": "// Build cover letter LLM request.\nconst results = [];\n\nconst coverLetterTemplate = `Dear Hiring Manager,\n\nI am excited to apply for the [JOB_TITLE] position at [COMPANY_NAME].\n\nI am currently working as a Senior Software Engineer (SDE3 / Associate Vice President) at JPMorgan Chase Asset & Wealth Management, where I work on AI-native engineering platforms, MCP server infrastructure, developer tooling, and large-scale cloud systems.\n\nWhat strongly attracted me to [COMPANY_NAME] is [SPECIFIC_REASON_ABOUT_COMPANY_OR_PRODUCT].\n\nIn my current role at JPMorgan Chase, I:\n- Architect MCP server infrastructure enabling LLM-native access to design systems and engineering workflows\n- Build AI-native platforms such as Connect Studio supporting design-to-code and story-to-code workflows\n- Work across React, TypeScript, Python, AWS, and agentic systems\n\nPreviously at Aurigo Software Technologies, I spent nearly 6 years building enterprise-scale frontend and AI-integrated platforms.\n\nI am particularly interested in relocating to the Netherlands through a visa sponsorship / kennismigrant opportunity.\n\nThank you for your consideration.\n\nBest regards,\nShirsak Sahoo`;\n\nfor (const item of $input.all()) {\n  const {\n    url,\n    title,\n    company,\n    location,\n    description,\n    relocation_signals,\n    relocation_confidence\n  } = item.json;\n\n  const trimmedDescription = description.substring(0, 4000);\n\n  const payload = {\n    model: 'unsloth/Qwen3.5-9B-GGUF:Q6_K',\n    temperature: 0.4,\n    max_tokens: 9000,\n    top_p: 0.9,\n    repeat_penalty: 1.1,\n    messages: [\n      {\n        role: 'system',\n        content: 'You are an expert cover letter writer. Generate concise professional cover letters tailored to the role.'\n      },\n      {\n        role: 'user',\n        content: `Template:\\n${coverLetterTemplate}\\n\\nJob Description:\\n${trimmedDescription}\\n\\nCompany: ${company}\\nRole: ${title}\\nLocation: ${location}\\n\\nGenerate a personalized cover letter using the template and job description.`\n      }\n    ],\n    extra_body: {\n      chat_template_kwargs: {\n        enable_thinking: false\n      }\n    }\n  };\n\n  results.push({\n    json: {\n      _job: {\n        url,\n        title,\n        company,\n        location,\n        description: trimmedDescription,\n        relocation_signals,\n        relocation_confidence\n      },\n      _llmPayload: payload\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "06908034-583d-477b-a0d8-03909bf1a1b8",
      "name": "Build Cover Letter Request",
      "type": "n8n-nodes-base.code",
      "position": [
        1200,
        0
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LLAMA_CPP_URL }}/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer no-key-needed"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json._llmPayload) }}",
        "options": {
          "response": {},
          "timeout": 300000
        }
      },
      "id": "2fac01a5-68a9-43dd-865b-114f4c914367",
      "name": "LLM: Generate Cover Letter",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1440,
        0
      ],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "jsCode": "// Assemble final row.\nconst llmItem = $input.first();\nconst reqItem = $('Build Cover Letter Request').first();\n\nif (!llmItem?.json || !reqItem?.json?._job) {\n  return [];\n}\n\nconst coverLetter = (llmItem.json?.choices?.[0]?.message?.content || '').trim();\n\nif (!coverLetter) {\n  return [];\n}\n\nconst job = reqItem.json._job;\n\nreturn [\n  {\n    json: {\n      date: new Date().toISOString().split('T')[0],\n      company: job.company || '',\n      title: job.title || '',\n      location: job.location || '',\n      url: job.url || '',\n      relocation_signals: job.relocation_signals || '',\n      relocation_confidence: job.relocation_confidence || '',\n      cover_letter: coverLetter,\n      status: 'Not Applied'\n    }\n  }\n];"
      },
      "id": "0415b761-07ad-48f0-a4f4-673159a78cd1",
      "name": "Assemble Row",
      "type": "n8n-nodes-base.code",
      "position": [
        1680,
        0
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "=1lGi7mXQZKTbaP4ytTr0F3tcyjkFO4lxDfTMcdpb-8E4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "Date": "={{ $json.date }}",
            "Company": "={{ $json.company }}",
            "Role": "={{ $json.title }}",
            "Location": "={{ $json.location }}",
            "URL": "={{ $json.url }}",
            "Reloc Signals": "={{ $json.relocation_signals }}",
            "Confidence": "={{ $json.relocation_confidence }}",
            "Cover Letter": "={{ $json.cover_letter }}",
            "Status": "={{ $json.status }}"
          }
        },
        "options": {}
      },
      "id": "bb791743-b14b-4161-9f03-ec67dfc3d1f7",
      "name": "Append to Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1920,
        0
      ],
      "typeVersion": 4.4,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TrXIngdk7ZtrUczP",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Daily Trigger (8AM IST Mon-Fri)": {
      "main": [
        [
          {
            "node": "Scrape LinkedIn Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape LinkedIn Jobs": {
      "main": [
        [
          {
            "node": "Normalize Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Jobs": {
      "main": [
        [
          {
            "node": "Regex Relocation Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Regex Relocation Filter": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Build Cover Letter Request",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Build Cover Letter Request": {
      "main": [
        [
          {
            "node": "LLM: Generate Cover Letter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM: Generate Cover Letter": {
      "main": [
        [
          {
            "node": "Assemble Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Row": {
      "main": [
        [
          {
            "node": "Append to Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to Google Sheet": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0b5094c0-9e06-4b49-9743-4d4cd4b893aa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ff4fcd04e02b0883c04ba691a16e0b39ce6580e81776fe61b57c57637edaca8b"
  },
  "id": "VWgqe9TWQIdsCP6B",
  "tags": []
}