workflow.json
{
  "name": "NL Jobs - Cover Letter Only",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-5"
            }
          ]
        }
      },
      "id": "trigger-01",
      "name": "Daily Trigger (8AM IST Mon-Fri)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -1200,
        0
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/curious_coder~linkedin-jobs-scraper/run-sync-get-dataset-items",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $env.APIFY_API_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"urls\": [\n    \"https://www.linkedin.com/jobs/search/?keywords=software%20engineer%20Netherlands%20relocation&location=Netherlands&f_TPR=r86400\",\n    \"https://www.linkedin.com/jobs/search/?keywords=senior%20developer%20Amsterdam%20visa%20sponsor&location=Netherlands&f_TPR=r86400\",\n    \"https://www.linkedin.com/jobs/search/?keywords=AI%20engineer%20Netherlands%20sponsorship&location=Netherlands&f_TPR=r86400\"\n  ],\n  \"maxResults\": 1\n}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "scrape-01",
      "name": "Scrape LinkedIn Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -960,
        0
      ],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "jsCode": "const j = $input.first();\nif (!j) return [];\n\nconst url         = j.json.jobUrl || j.json.url || j.json.link || '';\nconst title       = j.json.title || j.json.jobTitle || j.json.position || '';\nconst company     = j.json.company || j.json.companyName || '';\nconst location    = j.json.location || j.json.jobLocation || '';\nconst description = j.json.description || j.json.jobDescription || j.json.descriptionHtml || '';\n\nif (!url || !title || !description || description.length < 100) return [];\n\nreturn [{ json: { url, title, company, location, description } }];"
      },
      "id": "normalize-01",
      "name": "Normalize Job Fields",
      "type": "n8n-nodes-base.code",
      "position": [
        -720,
        0
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LLAMA_CPP_URL }}/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer no-key-needed"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"unsloth/Qwen3.5-9B-GGUF:Q6_K\",\n  \"temperature\": 0.1,\n  \"max_tokens\": 10000,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a JSON-only API. Output a single valid JSON object. No markdown, no code fences, no explanation.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Does this job offer visa sponsorship or relocation support for the Netherlands?\\n\\nSignals: relocation package, visa sponsorship, highly skilled migrant, kennismigrant, IND sponsor, work permit, 30% ruling, international candidates welcome, open to candidates abroad.\\nKnown sponsors: Booking.com, Adyen, TomTom, ASML, Philips, bol.com, Nearmap, IMEC.\\n\\nRespond exactly:\\n{\\\"offers_relocation\\\": true, \\\"confidence\\\": \\\"high\\\", \\\"signals\\\": [\\\"signal1\\\"]}\\n\\nTitle: {{ $json.title }}\\nCompany: {{ $json.company }}\\nLocation: {{ $json.location }}\\nDescription: {{ $json.description }}\\n\\n/no_think\"\n    }\n  ]\n}",
        "options": {
          "timeout": 300000,
          "response": {
            "includeInputData": true
          }
        }
      },
      "id": "llm-filter-01",
      "name": "LLM: Relocation Filter",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -480,
        0
      ],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "jsCode": "// Parse LLM response; keep only confirmed relocation jobs.\n// includeInputData: true merges input fields into $json alongside the LLM response.\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  if (!item?.json) continue;\n  try {\n    const raw     = item.json?.choices?.[0]?.message?.content || '';\n    const cleaned = raw.replace(/```json|```/g, '').trim();\n    const parsed  = JSON.parse(cleaned);\n\n    if (!parsed.offers_relocation)      continue;\n    if (parsed.confidence === 'low')    continue;\n\n    results.push({\n      json: {\n        url:                   item.json.url         || '',\n        title:                 item.json.title        || '',\n        company:               item.json.company      || '',\n        location:              item.json.location     || '',\n        description:           item.json.description  || '',\n        relocation_signals:    (parsed.signals || []).join(', '),\n        relocation_confidence: parsed.confidence\n      }\n    });\n  } catch (e) { continue; }\n}\n\nreturn results;"
      },
      "id": "keep-01",
      "name": "Keep Confirmed Relocation Jobs",
      "type": "n8n-nodes-base.code",
      "position": [
        -240,
        0
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LLAMA_CPP_URL }}/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer no-key-needed"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"unsloth/Qwen3.5-9B-GGUF:Q6_K\",\n  \"temperature\": 0.7,\n  \"max_tokens\": 10000,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You write punchy, confident cover letters. Plain text only. No markdown. No preamble.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Write a cover letter for this role. Max 250 words, 3 paragraphs.\\n\\nCandidate: Shirsak — Senior Software Engineer (SDE3/AVP), 6+ years. Currently at JPMorgan Chase Asset & Wealth Management building AI-native platforms (Connect Studio, MCP server infra, RAG pipelines). Stack: React, TypeScript, Python, AWS, agentic AI. BITS Pilani CS 2019. Relocating to Netherlands — needs visa sponsorship (Kennismigrant pathway).\\n\\nParagraph 1 — Hook: Something specific about {{ $json.company }} or this role that genuinely excites. Use details from the JD. Do NOT start with 'I am writing to express interest'.\\nParagraph 2 — Why me: 2 specific JPMC achievements that directly address what the JD needs.\\nParagraph 3 — Logistics: Available for remote interviews. Targeting relocation Q3/Q4 2026. Visa sponsorship (Kennismigrant) needed — matter-of-fact, not apologetic.\\n\\nCompany: {{ $json.company }}\\nRole: {{ $json.title }}\\nJD (first 2000 chars): {{ $json.description }}\\n\\n/no_think\"\n    }\n  ]\n}",
        "options": {
          "timeout": 300000,
          "response": {
            "includeInputData": true
          }
        }
      },
      "id": "llm-cover-01",
      "name": "LLM: Generate Cover Letter",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        0,
        0
      ],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "jsCode": "// Extract cover letter and assemble final row.\n// includeInputData: true means job fields are merged into $json alongside LLM response.\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  if (!item?.json) continue;\n  try {\n    const coverLetter = (item.json?.choices?.[0]?.message?.content || '').trim();\n    if (!coverLetter) continue;\n\n    results.push({\n      json: {\n        date:                  new Date().toISOString().split('T')[0],\n        company:               item.json.company               || '',\n        title:                 item.json.title                 || '',\n        location:              item.json.location              || '',\n        url:                   item.json.url                   || '',\n        relocation_signals:    item.json.relocation_signals    || '',\n        relocation_confidence: item.json.relocation_confidence || '',\n        cover_letter:          coverLetter,\n        status:                'Not Applied'\n      }\n    });\n  } catch (e) { continue; }\n}\n\nreturn results;"
      },
      "id": "assemble-01",
      "name": "Assemble Row",
      "type": "n8n-nodes-base.code",
      "position": [
        240,
        0
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json.date }}",
            "Company": "={{ $json.company }}",
            "Role": "={{ $json.title }}",
            "Location": "={{ $json.location }}",
            "URL": "={{ $json.url }}",
            "Reloc Signals": "={{ $json.relocation_signals }}",
            "Confidence": "={{ $json.relocation_confidence }}",
            "Cover Letter": "={{ $json.cover_letter }}",
            "Status": "={{ $json.status }}"
          }
        },
        "options": {
          "valueInputMode": "RAW"
        }
      },
      "id": "gsheet-01",
      "name": "Append to Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        480,
        0
      ],
      "typeVersion": 4.4,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-cred",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Daily Trigger (8AM IST Mon-Fri)": {
      "main": [
        [
          {
            "node": "Scrape LinkedIn Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape LinkedIn Jobs": {
      "main": [
        [
          {
            "node": "Normalize Job Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Job Fields": {
      "main": [
        [
          {
            "node": "LLM: Relocation Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM: Relocation Filter": {
      "main": [
        [
          {
            "node": "Keep Confirmed Relocation Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keep Confirmed Relocation Jobs": {
      "main": [
        [
          {
            "node": "LLM: Generate Cover Letter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM: Generate Cover Letter": {
      "main": [
        [
          {
            "node": "Assemble Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Row": {
      "main": [
        [
          {
            "node": "Append to Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}